body{
	background-color: black;
}

#diskusi{
	width:400px;
	height:450px;
	background-color:rgba(255,255,255,0.4);
	position: absolute;
	left:10px;
	top:40px;
	overflow: auto;
}

#wall{
	position: relative;
	width:1024px;
	height:548px;
	margin: 0px auto 0;
	background-image: url(../images/brick.gif);
	//border-radius: 5px;
	box-shadow: 0px 0pc 20px #999;
}

#container{
	position: absolute;
	width:960px;
	height:500px;
	top:24px;
	right:32px;
	background: #f1da36; /* Old browsers */
background: -moz-linear-gradient(top,  #f1da36 0%, #fefcea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1da36), color-stop(100%,#fefcea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* IE10+ */
background: linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */

}

#container p{
	text-align: center;
}

.window{
	width: 110px;
	height: 110px;
	position: absolute;
	bottom:230px;

}

.window.left{
	left:263px;
}

.pane{
	width:50px;
	height:50px;
	position: absolute;
	background-image: url(../images/snow15.gif);
	box-shadow: inset 0 0 10px #FFF;
}

.pane.top{ top: 0px;}
.pane.left{ left: 0px;}
.pane.right{ right: 0px;}
.pane.bottom{ bottom: 0px;}

#floor{
	width:960px;
	height:160px;
	position: absolute;
	bottom:0px;
	background-image: url(../images/carpet.png);
}

#chimney{
	width:68px;
	height:270px;
	position: absolute;
	bottom:230px;
	right:274px;
	background-image: url(../images/brick.gif);
	box-shadow: inset 0 0 10px #000;
}

#heater{
	width:120px;
	height:90px;
	position: absolute;
	bottom:150px;
	right:248px;
	background-image: url(../images/brick.gif);
	box-shadow: inset 0 0 10px #000;
}

#fire{
	width:68px;
	height:68px;
	position: absolute;
	bottom:0px;
	right:26px;
	background-image: url(../images/fire.gif);
	//box-shadow: 0 0 10px #FFF;
}

#door{
	width:95px;
	height:163px;
	position: absolute;
	bottom:160px;
	right:433px;
	background-image: url(../images/snow15.gif);
	box-shadow: 0 0 10px #FFF;
}

#doorlid{
	width:10px;
	height:175px;
	position: absolute;
	bottom:154px;
	right:528px;
	background-color: #a3620a;
	box-shadow: inset 0 0 5px #000;
}

.knobs{
	width: 30px;
	height: 30px;
	position: absolute;
	bottom:220px;

}

.knobs.right{
	right:518px;
}

.knob{
	width:10px;
	height:12px;
	position: absolute;
	background-color: yellow;
	box-shadow: inset 0 0 3px #000;
}

.knob.left{ left: 0px;}
.knob.right{ right: 0px;}

#me{
	width:95px;
	height:163px;
	position: absolute;
	bottom:145px;
	right:360px;
	background-image: url(../images/me.gif);
}

#me:hover{
	background-image: url(../images/me_hi7.gif);
}

#clock{
	position: absolute;
	bottom:330px;
	right:433px;
	/*-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;*/
}

#clockcover{
	width:100px;
	height:100px;
	position: absolute;
	bottom:330px;
	right:433px;
	background-image: url(../images/cover.png);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

#tv{
	width:99px;
	height:197px;
	position: absolute;
	left:839px;
	top:237px;
	background-image: url(../images/tv.png);
	//-webkit-transition: all 0.2s;
	//-moz-transition: all 0.2s
}

/*#tv:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
}*/

#gameconsole{
	width:149px;
	height:57px;
	position: absolute;
	left:693px;
	top:431px;
	background-image: url(../images/gameconsole.png);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s
}

#gameconsole:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
}

#portfolio{
	width:78px;
	height:38px;
	position: absolute;
	left:500px;
	top:396px;
	background-image: url(../images/album.png);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s
}

#portfolio:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(2);
	-ms-transform: scale(2);
}

/*#clock:hover{
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-o-transform: scale(2);
	-ms-transform: scale(2);	
}*/

#navigation{
	position: absolute;
	width:1024px;
	height:54px;
	top:0px;
	left:233px;
}

#nav1{
	width:93px;
	height:54px;
	background-image: url(../images/nav_home.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav1:hover{
	background-position: 0px 216px;	
}

#nav2{
	width:93px;
	height:54px;
	background-image: url(../images/nav_room.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav2:hover{
	background-position: 0px 216px;	
}

#nav3{
	width:93px;
	height:54px;
	background-image: url(../images/nav_about.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav3:hover{
	background-position: 0px 216px;	
}

#nav4{
	width:93px;
	height:54px;
	background-image: url(../images/nav_info.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav4:hover{
	background-position: 0px 216px;	
}

#nav5{
	width:93px;
	height:54px;
	background-image: url(../images/nav_gallery.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav5:hover{
	background-position: 0px 216px;	
}

#nav6{
	width:93px;
	height:54px;
	background-image: url(../images/nav_games.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav6:hover{
	background-position: 0px 216px;	
}

#nav7{
	width:93px;
	height:54px;
	background-image: url(../images/nav_animation.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav7:hover{
	background-position: 0px 216px;	
}

#nav8{
	width:93px;
	height:54px;
	background-image: url(../images/nav_music.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav8:hover{
	background-position: 0px 216px;	
}

#nav9{
	width:93px;
	height:54px;
	background-image: url(../images/nav_tutorial.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav9:hover{
	background-position: 0px 216px;	
}

#nav10{
	width:93px;
	height:54px;
	background-image: url(../images/nav_islamic.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav10:hover{
	background-position: 0px 216px;	
}

#nav11{
	width:93px;
	height:54px;
	background-image: url(../images/nav_contact.png);
	background-position: 0px 192px;
	float: left;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#nav11:hover{
	background-position: 0px 216px;	
}

#nav1s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_home.png);
	background-position: 0px 216px;
	float: left;
}

#nav2s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_room.png);
	background-position: 0px 216px;
	float: left;
}

#nav3s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_about.png);
	background-position: 0px 216px;
	float: left;
}

#nav4s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_info.png);
	background-position: 0px 216px;
	float: left;
}

#nav5s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_gallery.png);
	background-position: 0px 216px;
	float: left;
}

#nav6s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_games.png);
	background-position: 0px 216px;
	float: left;
}

#nav7s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_animation.png);
	background-position: 0px 216px;
	float: left;
}

#nav8s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_music.png);
	background-position: 0px 216px;
	float: left;
}

#nav9s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_tutorial.png);
	background-position: 0px 216px;
	float: left;
}

#nav10s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_islamic.png);
	background-position: 0px 216px;
	float: left;
}

#nav11s{
	width:93px;
	height:54px;
	background-image: url(../images/nav_contact.png);
	background-position: 0px 216px;
	float: left;
}

#footer{
	margin-top: 50px;
	border-top: 1px dashed #bbb;
}

#footer p{
	text-align: center;
	color: #aaa;
	font-size: 12px;
}

/* --------------------about------------------------ */

#wallAbout{
	position: relative;
	width:1024px;
	//height:548px;
	margin: 0px auto 0;
	background-image: url(../images/brick.gif);
	box-shadow: 0px 0pc 20px #999;
	padding: 24px 0px 24px 0px;
}

#containerAbout{
	width:960px;
	height:576px;
	margin: auto;
	background: white; 
}

#wiracv{
	width:720px;
	height:576px;
	margin: 0px auto 0px;
	//box-shadow: 0px 0px 20px crimson;
}

/*#containerAbout p{
	text-align: center;
	margin-top:0px;
	margin-bottom:0px;
}*/

#col1{
	position: absolute;
	left:32px;
	width:230px;
	height:850px;
	padding-top: 50px;
	background: black;
	border-right: 3px white dashed;
}

#photo{
	width:153px;
	height:205px;
	margin: auto;
	background-image: url(../images/wira2.jpg);
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=7);
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

#photo:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

#wirakaratext{
	width:150px;
	height:50px;
	margin: auto;
	background-image: url(../images/wirakaratext.jpg);
}

#col1 h1{
	font-size: 20px;
	font-family: "Courier New", Courier, monospace, Arial;
	color: #aba000;
	text-align: center;
}

#col1 a{
	//font-size: 20px;
	//font-family: "Courier New", Courier, monospace, Arial;
	color: #827b00;
	//text-align: center;
}

#col1 a:hover{
	color: #aba000;
}

#col2{
	position: absolute;
	left:265px;
	//width:650px;
	//height:300px;
	padding-top: 30px;
	padding-left: 30px;
	//background: red;
	//border-right: 3px white dashed;
}

#col2 h1{
	font-size: 20px;
	font-family: "Courier New", Courier, monospace, Arial;
	color: #827b00;
	line-height: 50%;
}

#col2 p{
	font-size: 12px;
	font-family: "Courier New", Courier, monospace, Arial;
	//line-height: 10%;
}

#col2 pre{
	font-size: 12px;
	font-family: "Courier New", Courier, monospace, Arial;
	//line-height: 10%;
}

#status{
	position: absolute;
	top:430px;
	left:80px;
	width:200px;
	height:155px;
	margin: auto;
	background-image: url(../images/stamp.png);
}

/* --------------------gallery------------------------ */

#containergallery{
	position: absolute;
	width:960px;
	height:500px;
	top:24px;
	right:32px;
	background: black;
}

#album{
	margin: 100px 220px;
}

#album div:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

.book{
	width:150px;
	height:200px;
	display: inline-block;
	margin: 25px 22px 25px 0;
	-webkit-transition: all 0.2s; /* only for chrome */
	-moz-transition: all 0.2s; /* for firefox */
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

.book.family{
	background-image: url(../images/familyalbum.png);
}

.book.image{
	background-image: url(../images/imagedesign.png);
}

.book.pixel{
	background-image: url(../images/pixelart.png);
	margin-right: 0px;
}

/* --------------------family------------------------ */

#wallFamily{
	position: relative;
	width:1024px;
	//height:548px;
	margin: 0px auto 0;
	background-image: url(../images/brick.gif);
	box-shadow: 0px 0pc 20px #999;
	padding: 24px 0px 24px 0px;
}

#containerFamily{
	width:960px;
	height:1445px;
	margin: auto;
	background: black; 
}

#colFam1{
	position: absolute;
	left:32px;
	width:332px;
	height:1465px;
	padding-top: 35px;
	//background: white;
}

.picFam1a{
	width:300px;
	height:450px;
	position: absolute;
	left:20px;
	-webkit-transition: all 1s; /* only for chrome */
	-moz-transition: all 1s; /* for firefox */
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

.picFam1a.bp1{
	background-image: url(../images/biduk3_s.jpg);
}

.picFam1a.bp2{
	background-image: url(../images/separuhjiwa2_s.jpg);
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.picFam1a.bp2:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.picFam1b{
	width:300px;
	height:400px;
	position: absolute;
	top:495px;
	left:20px;
	-webkit-transition: all 1s; /* only for chrome */
	-moz-transition: all 1s; /* for firefox */
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

.picFam1b.bp1{
	background-image: url(../images/ferry1.jpg);
}

.picFam1b.bp2{
	background-image: url(../images/ferry2.jpg);
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.picFam1b.bp2:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.picFam1c{
	width:300px;
	height:400px;
	position: absolute;
	top:905px;
	left:20px;
	-webkit-transition: all 1s; /* only for chrome */
	-moz-transition: all 1s; /* for firefox */
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

.picFam1c.bp1{
	background-image: url(../images/wawamouri1.jpg);
}

.picFam1c.bp2{
	background-image: url(../images/wawamouri2.jpg);
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.picFam1c.bp2:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

#backgallfam{
	width:300px;
	height:97px;
	position: absolute;
	top:1315px;
	left:20px;
	background-image: url(../images/backgallery.png);
}

#backgallfam:hover{
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	-ms-transform: scale(0.99);
}

#colFam2{
	position: absolute;
	right:32px;
	width:630px;
	height:470px;
	padding-top: 35px;
	//background: white;
}

.picFam2{
	width:200px;
	height:150px;
	display: inline-block;
	-webkit-transition: all 0.5s; /* only for chrome */
	-moz-transition: all 0.5s; /* for firefox */
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.picFam2.sp1{
	background-image: url(../images/fam1av.jpg);
}

.picFam2.sp1:hover{
	background-position: 0px -150px;
}

.picFam2.sp2{
	background-image: url(../images/fam1bh.jpg);
}

.picFam2.sp2:hover{
	background-position: 200px 0px;
}

.picFam2.sp3{
	background-image: url(../images/fam1cv.jpg);
}

.picFam2.sp3:hover{
	background-position: 0px 150px;
}

.picFam2.sp4{
	background-image: url(../images/fam1dh.jpg);
}

.picFam2.sp4:hover{
	background-position: -200px 0px;
}

.picFam2.sp5{
	background-image: url(../images/fam1ev.jpg);
}

.picFam2.sp5:hover{
	background-position: 0px 150px;
}

.picFam2.sp6{
	background-image: url(../images/fam1fv.jpg);
}

.picFam2.sp6:hover{
	background-position: 0px -150px;
}

.picFam2.sp7{
	background-image: url(../images/fam1gv.jpg);
}

.picFam2.sp7:hover{
	background-position: 0px -150px;
}

.picFam2.sp8{
	background-image: url(../images/fam1hv.jpg);
}

.picFam2.sp8:hover{
	background-position: 0px 150px;
}

.picFam2.sp9{
	background-image: url(../images/fam1ih.jpg);
}

.picFam2.sp9:hover{
	background-position: -200px 0px;
}

.picFam2.sp10{
	background-image: url(../images/fam1jh.jpg);
}

.picFam2.sp10:hover{
	background-position: -200px 0px;
}

.picFam2.sp11{
	background-image: url(../images/fam1kv.jpg);
}

.picFam2.sp11:hover{
	background-position: 0px 150px;
}

.picFam2.sp12{
	background-image: url(../images/fam1lh.jpg);
}

.picFam2.sp12:hover{
	background-position: 200px 0px;
}

.picFam2.sp13{
	background-image: url(../images/fam1mv.jpg);
}

.picFam2.sp13:hover{
	background-position: 0px -150px;
}

.picFam2.sp14{
	background-image: url(../images/fam1nv.jpg);
}

.picFam2.sp14:hover{
	background-position: 0px 150px;
}

.picFam2.sp15{
	background-image: url(../images/fam1oh.jpg);
}

.picFam2.sp15:hover{
	background-position: 200px 0px;
}

.picFam2.sp16{
	background-image: url(../images/o.jpg);
}

.picFam2.sp16:hover{
	background-position: -390px 0px;
}

.picFam2.sp17{
	background-image: url(../images/fam1ph.jpg);
}

.picFam2.sp17:hover{
	background-position: -200px 0px;
}

.picFam2.sp18{
	background-image: url(../images/fam1qv.jpg);
}

.picFam2.sp18:hover{
	background-position: 0px -150px;
}

.picFam2.sp19{
	background-image: url(../images/fam1rv.jpg);
}

.picFam2.sp19:hover{
	background-position: 0px 150px;
}

.picFam2.sp20{
	background-image: url(../images/fam1sv.jpg);
}

.picFam2.sp20:hover{
	background-position: 0px -150px;
}

.picFam2.sp21{
	background-image: url(../images/fam1th.jpg);
}

.picFam2.sp21:hover{
	background-position: 200px 0px;
}

.picFam2.sp22{
	background-image: url(../images/fam1uv.jpg);
}

.picFam2.sp22:hover{
	background-position: 0px 150px;
}

.picFam2.sp23{
	background-image: url(../images/fam1vh.jpg);
}

.picFam2.sp23:hover{
	background-position: 200px 0px;
}

.picFam2.sp24{
	background-image: url(../images/fam1wh.jpg);
}

.picFam2.sp24:hover{
	background-position: -200px 0px;
}

.picFam2.sp25{
	background-image: url(../images/fam1xv.jpg);
}

.picFam2.sp25:hover{
	background-position: 0px 150px;
}

.picFam2.sp26{
	background-image: url(../images/y.gif);
}

.picFam2.sp27{
	background-image: url(../images/fam1zh.jpg);
}

.picFam2.sp27:hover{
	background-position: 200px 0px;
}



/* --------------------image------------------------ */

#wallImage{
	position: relative;
	width:1024px;
	//height:548px;
	margin: 0px auto 0;
	background-image: url(../images/brick.gif);
	box-shadow: 0px 0pc 20px #999;
	padding: 24px 0px 24px 0px;
}

#containerImage{
	width:960px;
	height:1800px;
	margin: auto;
	background: black;
	padding-top: 50px; 
}

#colImage{
	margin-left: 73px;
}

.picimg{
	width:200px;
	height:112px;
	display: inline-block;
	-webkit-transition: all 0.2s; 
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

.picimg:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.picimg.p1{
	background-image: url(../images/img1.jpg);
}

.picimg.p2{
	background-image: url(../images/img2.jpg);
}

.picimg.p3{
	background-image: url(../images/img3.jpg);
}

.picimg.p4{
	background-image: url(../images/img4.jpg);
}

.picimg.p5{
	background-image: url(../images/img5.jpg);
}

.picimg.p6{
	background-image: url(../images/img6.jpg);
}

.picimg.p7{
	background-image: url(../images/img7.jpg);
}

.picimg.p8{
	background-image: url(../images/img8.jpg);
}

.picimg.p9{
	background-image: url(../images/img9.jpg);
}

.picimg.p10{
	background-image: url(../images/img10.jpg);
}

.picimg.p11{
	background-image: url(../images/img11.jpg);
}
.picimg.p12{
	background-image: url(../images/img12.jpg);
}

.picimg.p13{
	background-image: url(../images/img13.jpg);
}

.picimg.p14{
	background-image: url(../images/img14.jpg);
}

.picimg.p15{
	background-image: url(../images/img15.jpg);
}

.picimg.p16{
	background-image: url(../images/img16.jpg);
}

.picimg.p17{
	background-image: url(../images/img17.jpg);
}

.picimg.p18{
	background-image: url(../images/img18.jpg);
}

.picimg.p19{
	background-image: url(../images/img19.jpg);
}

.picimg.p20{
	background-image: url(../images/img20.jpg);
}

.picimg.p21{
	background-image: url(../images/img21.jpg);
}

.picimg.p22{
	background-image: url(../images/img22.jpg);
}

.picimg.p23{
	background-image: url(../images/img23.jpg);
}

.picimg.p24{
	background-image: url(../images/img24.jpg);
}

.picimg.p0{
	width:813px;
	height:610px;
	background-image: url(../images/img0.jpg);
	opacity: 0.1;
	-moz-opacity: 0.1;
	filter:alpha(opacity=0.1);
}

.picimg.p0:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.picimg.p25{
	width:200px;
	height:300px;
	background-image: url(../images/img25.jpg);
}

.picimg.p26{
	width:200px;
	height:300px;
	background-image: url(../images/img26.jpg);
}

.picimg.p27{
	width:200px;
	height:300px;
	background-image: url(../images/img27.gif);
}

.picimg.p28{
	width:200px;
	height:300px;
	background-image: url(../images/img28a.jpg);
}

.picimg.p28:hover{
	background-image: url(../images/img28b.jpg);
}

#backgallimg{
	width:300px;
	height:97px;
	position: absolute;
	top:1730px;
	left:106px;
	background-image: url(../images/backgallery.png);
}

#backgallimg:hover{
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	-ms-transform: scale(0.99);
}


/* --------------------pixel------------------------ */

#wallPixel{
	position: relative;
	width:1024px;
	//height:548px;
	margin: 0px auto 0;
	background-image: url(../images/brick.gif);
	box-shadow: 0px 0pc 20px #999;
	padding: 24px 0px 24px 0px;
}

#containerPixel{
	width:960px;
	height:1500px;
	margin: auto;
	background: black;
	padding-top: 50px; 
}

#colPixel{
	margin-left: 73px;
	margin-right: 73px;
}

.picpix{
	display: inline-block;
}

.picpix.p1{
	width:95px;
	height:163px;
	background-image: url(../images/gif/me.gif);
}

.picpix.p2{
	width:95px;
	height:163px;
	background-image: url(../images/gif/me_hi7.gif);
}

.picpix.p3{
	width:180px;
	height:180px;
	background-image: url(../images/gif/morasco_stand.gif);
}

.picpix.p4{
	width:180px;
	height:180px;
	background-image: url(../images/gif/morasco_turn.gif);
}

.picpix.p5{
	width:50px;
	height:50px;
	background-image: url(../images/gif/oren_stand.gif);
}

.picpix.p6{
	width:50px;
	height:50px;
	background-image: url(../images/gif/oren_walk.gif);
}

.picpix.p7{
	width:50px;
	height:100px;
	background-image: url(../images/gif/banner1.gif);
}

.picpix.p8{
	width:32px;
	height:32px;
	background-image: url(../images/gif/roman-warrior7-32px.gif);
}

.picpix.p9{
	width:32px;
	height:32px;
	background-image: url(../images/gif/roman-warrior7-32px_animated.gif);
}

.picpix.p10{
	width:352px;
	height:416px;
	background-image: url(../images/gif/hanoman_stand.gif);
}

.picpix.p11{
	width:352px;
	height:416px;
	background-image: url(../images/gif/rahwana_stand.gif);
}

.picpix.p12{
	width:352px;
	height:416px;
	background-image: url(../images/gif/naga_stand.gif);
}

.picpix.p13{
	width:352px;
	height:416px;
	background-image: url(../images/gif/naga_walk.gif);
}

.picpix.p14{
	width:64px;
	height:112px;
	background-image: url(../images/gif/ryu.gif);
}
.picpix.p15{
	width:140px;
	height:140px;
	background-image: url(../images/gif/ryu_walks.gif);
}

.picpix.p16{
	width:110px;
	height:90px;
	background-image: url(../images/gif/mouse.gif);
}

.picpix.p17{
	width:100px;
	height:100px;
	background-image: url(../images/gif/sheep1.gif);
}

.picpix.p18{
	width:100px;
	height:100px;
	background-image: url(../images/gif/wolf.gif);
}

#backgallpix{
	width:300px;
	height:97px;
	position: absolute;
	top:1430px;
	left:106px;
	background-image: url(../images/backgallery.png);
}

#backgallpix:hover{
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	-ms-transform: scale(0.99);
}


/* --------------------games------------------------ */

#containerinteractive{
	position: absolute;
	width:960px;
	height:500px;
	top:24px;
	right:32px;
	background: black;
}

#game{
	//margin: 100px 300px;
	margin: 100px 160px;
}

#game div:hover{
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

#game p{
	color: white;
}

.show{
	width:200px;
	height:300px;
	display: inline-block;
	//margin: 25px 50px 25px 0;
	-webkit-transition: all 0.2s; /* only for chrome */
	-moz-transition: all 0.2s; /* for firefox */
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

.show.app1{
	background-image: url(../flash/games/icon/jokerlaugh.jpg);
}

.show.app2{
	background-image: url(../flash/games/icon/spaceinvaders.jpg);
}

.show.app3{
	background-image: url(../flash/games/icon/sheep.jpg);
}

.show.app4{
	background-image: url(../flash/games/icon/pchef.jpg);
}

.show.app5{
	background-image: url(../flash/games/icon/applefallstep.jpg);
	margin-right: 0px;
}
.show.app6{
	background-image: url(../flash/games/icon/maskuman.png);
}
.show.app7{
	background-image: url(../flash/games/icon/ovm2.png);
}
.show.app8{
	background-image: url(../flash/games/icon/map.png);
}

#wallgame{
	position: relative;
	width:1024px;
	height:1150px;
	margin: 0px auto 0;
	background-image: url(../images/brick.gif);
	//border-radius: 5px;
	box-shadow: 0px 0pc 20px #999;
}

#containergame{
	position: absolute;
	width:960px;
	height:1100px;
	top:24px;
	right:32px;
	background: black;
}

#game1{
	width:550px;
	height:400px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game2{
	width:640px;
	height:480px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game3{
	width:720px;
	height:576px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game4{
	width:550px;
	height:400px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game5{
	width:550px;
	height:400px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game6{
	width:720px;
	height:576px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game7{
	width:900px;
	height:550px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#game8{
	width:720px;
	height:576px;
	margin: 45px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}

#backgame{
	width:300px;
	height:97px;
	position: absolute;
	bottom:30px;
	left:350px;
	background-image: url(../images/backgames.png);
}

#backgame2{
	width:150px;
	height:48px;
	position: absolute;
	bottom:10px;
	left:400px;
	background-image: url(../images/backgames2.png);
}

#backgame:hover{
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	-ms-transform: scale(0.99);
}

#backgame2:hover{
	-webkit-transform: scale(0.99);
	-moz-transform: scale(0.99);
	-o-transform: scale(0.99);
	-ms-transform: scale(0.99);
}

#diskusigame{
	width:600px;
	height:330px;
	background-color: #FFFB85;
	box-shadow: inset 0 0 50px #B56706;
	border: 2px solid #B56706;
	position: absolute;
	left:170px;
	top:660px;
	overflow: auto;
}

/* --------------------animation------------------------ */

#showreel{
	width:480px;
	height:360px;
	//background: red;
	margin: 35px auto 0px;
	box-shadow: 0px 0px 20px #FFF;
}


/* --------------------music------------------------ */

#containermusic{
	position: absolute;
	width:960px;
	height:500px;
	top:24px;
	right:32px;
	background: black;
}

#disc{
	margin: 100px 220px;
}

#disc div:hover{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	/*-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);*/
}

.cd{
	width:200px;
	height:200px;
	display: inline-block;
	margin: 25px 70px 25px 0;
	-webkit-transition: all 1s; /* only for chrome */
	-moz-transition: all 1s; /* for firefox */
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

.cd.english{
	background-image: url(../images/cd_english.png);
}

.cd.indo{
	background-image: url(../images/cd_indo.png);
	margin-right: 0px;
}

#wallsongeng{
	position: relative;
	max-width:1024px;
	//height:1048px;
	margin:0px auto 0;
	padding-top: 24px;
	padding-bottom: 10px;
	background-image: url(../images/brick.gif);
	//border-radius: 5px;
	box-shadow: 0px 0pc 20px #999;
}

#containersongeng{
	//position: absolute;
	width:960px;
	//height:1000px;
	//top:24px;
	//right:32px;
	margin: 0px auto 0;
	background: black;
}

#containersongeng h1{
	text-align: center;
	color: white;
	margin-left: 20px;
}

#containersongeng p{
	//text-align: center;
	color: white;
	margin-left: 20px;
}

#containersongeng a{
	color: white;
}

#songs{
	width:300px;
	height:16px;
	//background: red;
	margin-left: 20px;
	box-shadow: 0px 0px 20px #FFF;
}

#diskusimusic{
	width:400px;
	height:400px;
	background-color: #FFFB85;
	box-shadow: inset 0 0 50px #B56706;
	border: 2px solid #B56706;
	position: absolute;
	right:60px;
	top:190px;
	overflow: auto;
}

article .more {
  display: none;
}

/* --------------------contact------------------------ */

#containercontact{
	position: absolute;
	width:960px;
	height:500px;
	//border-radius: 5px;
	top:24px;
	right:32px;
	background: #f1da36; /* Old browsers */
background: -moz-linear-gradient(top,  #f1da36 0%, #fefcea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1da36), color-stop(100%,#fefcea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* IE10+ */
background: linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */

}

#containercontact h1{
	//font-size: 20px;
	//font-family: Arial, Helvetica, sans-serif;
	//color: #827b00;
	//line-height: 50%;
	padding-left: 150px;
}

#containercontact p{
	//font-size: 12px;
	//font-family: Arial, Helvetica, sans-serif;
	line-height: 10%;
	padding-left: 150px;
}

#map{
	position: absolute;
	top:80px;
	right:150px;
	box-shadow: 0px 0px 20px #999;
}

