body{
	font-family:Arial, Helvetica, sans-serif;	
}

#snow{
	height:470px;
	background-image: url(../images/snow15.gif);
}

h1{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size:5vw;
	width: 98%;
	background-color: white;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	box-shadow: inset 0 0 10px #999;
}

#roof{
	margin: 50px auto 0;
	width: 98%;
	height: 35%;

	background-image: url(../images/roof_tile.gif);
	//box-shadow: 3px 3px 5px 6px #999;
	box-shadow: inset 0 0 10px #000;
	margin-top:50px;
}

#chimney{
	width: 130px;
	height: 130px;
	//background: #666;
	position: relative;
	left:40px;
	bottom:100px;
	background-image: url(../images/chimney3_3.gif);
}

#walls{
	margin: 0 auto 0;
	width: 98%;
	height: 60%;
	//background: #444;
	background-image: url(../images/brick.gif);
	//box-shadow: 3px 3px 5px 6px #999;
	box-shadow: inset 0 0 10px #000;
	position: relative;
}

#inside{
	width:95px;
	height:163px;
	//margin: 5px;
	background: #363636;	
	position: absolute;
	bottom:0px;
	left:152px;
	
}

#me{
	width:95px;
	height:163px;
	//margin: 10px;	
	position: absolute;
	bottom:0px;
	left:152px;
	background-image: url(../images/me_hi6.gif);
	//box-shadow: -5px -5px 20px 0px #999;
}

.doorcls{
	width:95px;
	height:163px;
	//margin: 10px;	
	position: absolute;
	bottom:0px;
	left:152px;
}

.doorcls:hover{
	
	background-position: 94px 0px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#doorid{
	background-image: url(../images/door3.gif);
}

#door{
	width: 110px;
	height: 210px;
	background: red;
	position: absolute;
	bottom:0px;
	left:208px;
}

#knob{
	width: 20px;
	height: 20px;
	background: white;
	position: absolute;
	top:100px;
	left:15px;
	border-radius:10px;
	
}

#info{
	width:100px;
	height:120px;

	background: #fff799;
	border-top:8px solid #827b00;
	box-shadow: 5px 5px 20px 0px #000;
	position: absolute;
	bottom:52px;
	left:22px;
	-webkit-transition: all 0.2s; /* only for chrome */
	-moz-transition: all 0.2s; /* for firefox */
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

#info:hover{
	-webkit-transform: scale(1.5); /* only for chrome */
	-moz-transform: scale(1.5); /* for firefox */
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	
}

#info p{
	font-size: 8pt;
	color: black;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 0px;
}

#time{
	position: absolute;
	bottom:170px;
	left:210px;
}

#time2{
	position: absolute;
	bottom:-134px;
	//right:-150px;
	left:-150px;
}

.window{
	width: 110px;
	height: 110px;
	position: absolute;
	bottom:70px;

	//background: cyan;
}

.window.left{
	left:45px;
}

.window.right{
	//right:45px;
	left:268px;
}

.pane{
	width:50px;
	height:50px;
	//background: cyan;
	position: absolute;
	background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(top,  #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* IE10+ */
background: linear-gradient(top,  #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

box-shadow: inset 0 0 10px #999;
}

.pane.top{ top: 0px;}
.pane.left{ left: 0px;}
.pane.right{ right: 0px;}
.pane.bottom{ bottom: 0px;}

#diskusi{
	float: right;
	margin-right: 50px;
}

#footer{
	margin-top: 20%;
	border-top: 1px dashed #bbb;
}

#footer p{
	text-align: center;
	color: #aaa;
	font-size: 12px;
}